.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

	/*border: 1px solid #ccc;*/
  z-index: -5px;

}

#grid {
margin-top: 10%;
}
.flip-container:hover .box,
  .flip-container.hover .box {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

  .flip-container, .front, .back {
  	width: 250px;
  	height: 250px;
  }

  .box{
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
 -webkit-backface-visibility: hidden;
 -moz-backface-visibility: hidden;
 -o-backface-visibility: hidden;
 backface-visibility: hidden;
 position: absolute;
 top: 0;
 left: 0;
}

.front {
	background: #f8f8f8;
	z-index: 2;
}

 .back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: url(http://davidwalsh.name/demo/dwflip.jpg) 0 0 no-repeat;
}

body{
  background-color: red;
  opacity: 1;
}
